/* style.css */

#type_label {
	font-size: 20px;
}

#type_button {
	font-size: 18px;
}

#text_label {
	font-weight: bold;
	font-size: 20px;
}

#text_value_label {
	font-weight: bold;
	font-size: 40px;
}

#clear_button {
	background-color: @error_color;
	font-weight: bold;
}

#learn_character {
	font-size: 20px;
}
